<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<app-header></app-header>
<!-- <app-scrollbar></app-scrollbar>
<app-bestsellers></app-bestsellers> -->


<router-outlet></router-outlet>