.left_side_circle_div {
	margin-top: 58%;
	margin-bottom: 25%;
	margin-left: 25%;
	margin-right: 25%;
}

.middle_text{
	display: flex;
    flex-direction: row;
}
.sx-bg-primary {
    background-color: #f5be17;
  }

.middle_text:before, .middle_text:after {
            content: "";
            flex: 1 1;
            border-bottom:  1px solid #C5C5C5;
            margin: auto;
 }
          
 /* .fs_25_bold{
	font: normal normal bold 25px Poppins;
 } */

.fs_18{
    font-size: 18px;
}
.fs_16{
    font-size: 16px;
}
