<div>
    <div class="mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <a [routerLink]="['/bestsellers1']"></a>
            <img
              src="../../assets/images/Best_Sellers.avif"
              alt="Bestsellers"
              class="img-color"
             
            />
            <h5 class="mt-2">Bestsellers</h5>
          </div>
          <div class="col-md-2">
            <img
              src="../../assets/images/Easy_To_Care.webp"
              alt="Bestsellers"
              class="img-color"
            />
            <h5 class="mt-2">Easy to care</h5>
          </div>
          <div class="col-md-2">
            <img
              src="../../assets/images/XL_Plants.avif"
              alt="Bestsellers"
              class="img-color"
            />
            <h5 class="mt-2">XL Plants</h5>
          </div>
          <div class="col-md-2">
            <img
              src="../../assets/images/Ceramic_Pots.webp"
              alt="Bestsellers"
              class="img-color"
              routerLink="pots-planters"
            />
            <h5 class="mt-2">Ceramic Pots</h5>
          </div>
          <div class="col-md-2" >
            <img
              src="../../assets/images/Vegetable_Seeds.webp"
              alt="Bestsellers"
              class="img-color"
              routerLink="pots-planters"
            />
            <h5 class="mt-2">Vegetable Seeds</h5>
          </div>
          <div class="col-md-2">
            <img
              src="../../assets/images/Fertilisers.webp"
              alt="Bestsellers"
              class="img-color"
            />
            <h5 class="mt-2">Fertilisers</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <div class="container">
        <h4>What are you looking for?</h4>
        <div class="row">
          <div class="col-md-3">
            <img
              src="../../assets/images/Ugaoo_Gardening_Festival_Mobile.webp" 
              alt="Bestsellers"
              height="100%"
              width="100%"
              routerLink=""
            />
            <h5 class="mt-2 text-center">Gardening Festival Sale</h5>
          </div>
          <div class="col-md-3">
            <img
              src="../../assets/images/plants.webp"
              alt="Bestsellers"
              height="100%"
              width="100%"
            />
            <h5 class="mt-2 text-center">Plants</h5>
          </div>
          <div class="col-md-3">
            <img
              src="../../assets/images/seeds.webp"
              alt="Bestsellers"
              height="100%"
              width="100%"
            />
            <h5 class="mt-2 text-center">Seeds</h5>
          </div>
          <div class="col-md-3">
            <img
              src="../../assets/images/pots_and_planters.webp"
              alt="Bestsellers"
              height="100%"
              width="100%"
            />
            <h5 class="mt-2 text-center">Pots & Planters</h5>
          </div>


        </div>
      </div>
    </div>
    </div>
  