<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<h1 align="center"></h1>

<!-- <div class="container">
<table class="table table-hover table-striped table-bordered">

    <thead>
        <tr align="center">
            <th class="bg-info text-white">productId</th>
            <th class="bg-info text-white">productName</th>
            <th class="bg-info text-white">price</th>
            <th class="bg-info text-white" colspan="2">img</th>
        </tr>
    </thead> -->

            <div class="container">
                <div class="row">
            
                    <div class="col-md-4" *ngFor="let seed of seed">
                        <div class="card" style="width:250px">
                            <img class="imagesize" [src]="'data:image/png;base64,' + seed.img" alt="Output"
  alt="Card image" style="width:100%; height:100%; margin-top: 5%;"/>
                            <div class="card-body">
                                <h4 class="card-title">{{seed.SeedsName}}</h4>
                                <!-- <p class="number">{{prod.productId}}</p> -->
                                <p><b>Price:</b> ₹{{seed.price}}/-</p>
                                <p align="right"><button class="btn btn-primary">Add to Cart</button></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
       
<!-- </table>
</div>(click)="addToCart(product)"  -->




<!-- <div class="container">

    
  <div class="modal fade" id="empModal" role="dialog">
    <div class="modal-dialog">
    
     
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Update Employee</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
            <table align="center">
                <tbody>   
                    <tr>
                        <td>EmpId</td>
                        <td><input type="text" name="empId" [(ngModel)]="empObj.empId" readonly /></td>
                    </tr>        
                    <tr>
                        <td>EmpName</td>
                        <td><input type="text" name="empName" [(ngModel)]="empObj.empName" /></td>
                    </tr>
                    <tr>
                        <td>Salary</td>
                        <td><input type="number" name="salary" [(ngModel)]="empObj.salary" /></td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td><input type="text" name="gender" [(ngModel)]="empObj.gender" readonly /></td>
                    </tr>
                    <tr>
                        <td>Date of Join</td>
                        <td><input type="date" name="doj" [(ngModel)]="empObj.doj" /></td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td><select name="country" [(ngModel)]="empObj.country">
                            <option value="" selected> Select Country </option>
                            <option value="{{country.cca3}}" *ngFor="let country of coutriesList">{{country.name.common}}</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>EmailId</td>
                        <td>
                            <input type="text" name="emailId" [(ngModel)]="empObj.emailId" readonly/>
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password" name="password" [(ngModel)]="empObj.password" readonly /></td>
                    </tr>
                    <tr>
                        <td>Department</td>
                        <td><select name="deptId" [(ngModel)]="empObj.department.deptId">
                            <option value="" selected> Select Department </option>
                            <option value="{{department.deptId}}" *ngFor="let department of departmentList"> {{department.deptName}} </option>
                        </select></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="modal-footer">
          <button type="button" (click)="updateEmployee()" class="btn btn-default" data-dismiss="modal">Update Employee</button>
        </div>

      </div>
      
    </div>
  </div>

</div> -->