.background-container {
  background-image: url('../../assets/images/green.jpg');
    background-size: 100% 100%;;
    background-position: top center;
    height: 650px;
    width: 100%;
    background-repeat: no-repeat;
    
  }
