<div>
   
    <div class="background-container" [ngStyle]="{'background-image': 'url('+ actualImage + ')'}"></div> 
    <app-scrollbar></app-scrollbar>
    <app-bestsellers> </app-bestsellers>
    <br/>
    <br/>
    <app-footer></app-footer>
</div>
