/* .left-side{
	margin-top: 58%;
	margin-bottom: 25%;
	margin-left: 25%;
	margin-right: 25%;
}
.circle_text{
    color: red !important;
}
.sx-bg-primary {
  background-color: #f5be17;
}
.w-350 {
    width: 350px;
}
.sx-bg-page {
    background-color: #e5e8ee;
    height: 100vh;
}

.forgot_link {
    color: #f5be17!important;
    padding-left: 8px;
    text-decoration: none;
    font-size: 16px;
}
.rigth_image{
    background-image: url('../../assets/images/photo.avif');
} */