<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Registration</title>
    <style>
        /* Add custom styles here */
        .form-container {
            max-width: 400px;
            margin: -20 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #fff; /* Add your desired background color here */
        }
        #im {
            background-image: url('https://images.pexels.com/photos/1002703/pexels-photo-1002703.jpeg'); /* Replace with the actual path to your image */
            background-size: cover; /* Adjust as needed */
            background-repeat: no-repeat; /* Adjust as needed */
            background-position: center;
            height: 550px;
        }
        #color {
            color: red;
        }
        .input-group {
            margin-bottom: 15px;
        }
        #sign {
            cursor: pointer;
        }
    </style>
</head>
<body id="im">
<div class="container">
    <div class="form-container" align="left">
        <h1 class="text-center">Register</h1>

        <form #regForm="ngForm" (ngSubmit)="customerRegister(regForm.value)" novalidate>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" name="firstName" ngModel #firstName="ngModel" class="form-control" placeholder="Enter First Name" required pattern="[a-zA-Z]+">
            </div>
            <div *ngIf="firstName.errors?.['required'] && firstName.touched">
                <p id="color">Enter First Name</p>
            </div>
            <div *ngIf="firstName.errors?.['pattern'] && firstName.touched">
                <p id="color">First Name is required and should contain only letters.</p>
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" name ="lastName" ngModel #lastName="ngModel" class="form-control" placeholder="Enter Last Name" required pattern="[a-zA-Z]+">
            </div>
            <div *ngIf="lastName.errors?.['required'] && lastName.touched">
                <p id="color">Enter Last Name</p>
            </div>
            <div *ngIf="lastName.errors?.['pattern'] && lastName touched">
                <p id="color">Last Name is required and should contain only letters.</p>
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                <input type="number" name="PhoneNo" ngModel #PhoneNo="ngModel" class="form-control" placeholder="Enter Phone Number" required maxlength="10" pattern="^[6-9]\d{9}$">
            </div>
            <div *ngIf="PhoneNo.errors?.['required'] && PhoneNo.touched">
                <p id="color">Enter Phone Number</p>
            </div>
            <div *ngIf="PhoneNo.errors?.['pattern'] && PhoneNo.touched">
                <p id="color">Enter Number starting with 6 to 9 and 10 digits.</p>
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input class="form-control" type="text" name="emailId" ngModel #emailId="ngModel"
                       placeholder="Enter Email-ID" required pattern="[a-zA-Z0-9.]+@[a-zA-Z]+\.[a-zA-Z]{2,}" />
            </div>
            <div *ngIf="emailId.errors?.['required'] && emailId.touched">
                <p id="color">Enter EmailId</p>
            </div>
            <div *ngIf="emailId.errors?.['pattern'] && emailId.touched">
                <p id="color">Email is Invalid.</p>
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" name="password" ngModel #password="ngModel" class="form-control" placeholder="Enter Password" required minlength="8" maxlength="15" pattern="^(?=.\d)(?=.[a-z])(?=.[A-Z])(?=.[@#$%^&+=])(?=\S+$).{8,}$">
            </div>
            <div *ngIf="password.errors?.['required'] && password.touched">
                <p id="color">Enter Password</p>
            </div>
            <!-- <div *ngIf="password.errors?.['pattern'] && password.touched">
                <p id="color">Password must contain at least 8 characters, including special and upper case.</p>
            </div> -->

            <div class="text-center">
                <p>
                    <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-check"></i>Join</button>
                    &nbsp;&nbsp; Already User? &nbsp;&nbsp; <span id="sign" (click)="showLogin()">Login</span>
                </p>
            </div>
        </form>
    </div>
</div>
<!-- Add Bootstrap JS and jQuery script links -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>