<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<h1 align="center">CartItems</h1>

            <div class="container">
                <div class="row">
            
                    <div class="col-md-4" *ngFor="let prod of product">  
                        <div class="card" style="width:250px">
                            <img class="imagesize" [src]="'../assets/images/' + prod.img" alt="Output" />

                            <div class="card-body">
                                <h4 class="card-title">{{prod.productName}}</h4>
                                <p class="number">{{prod.productId}}</p>
                                <p><b>Price:</b> ₹{{prod.price}}/-</p>
                                <p><b>Quantity:</b> {{prod.quantity}}</p>

                               
                            </div>
                        </div>
                    </div>
                </div>
                <div><hr> {{data}}</div>
                <p align="right"><button class="btn btn-primary" (click)="postorder(product)">Buy Now</button></p>
            </div>
             