<div class="mt-5">
    <div class="container">
        <div class="bestsellers-header mt-3 mb-3">
            <img src="../../assets/images/Bestseller-1.webp" alt="bestsellers"  />
            <h4 class="mt-4">Bestsellers</h4>
        </div>
            <div class="row">
                <div class="col-md-3">
                  <img
                    src="../../assets/images/Ugaoo_Gardening_Festival_Mobile.webp"
                    alt="Bestsellers"
                    height="100%"
                    width="100%"
                  />
                  <h5 class="mt-2 text-center">Gardening Festival Sale</h5>
                </div>
                <div class="col-md-3">
                  <img
                    src="../../assets/images/plants.webp"
                    alt="Bestsellers"
                    height="100%"
                    width="100%"
                  />
                  <h5 class="mt-2 text-center">Plants</h5>
                </div>
                <div class="col-md-3">
                  <img
                    src="../../assets/images/seeds.webp"
                    alt="Bestsellers"
                    height="100%"
                    width="100%"
                  />
                  <h5 class="mt-2 text-center">Seeds</h5>
                </div>
                <div class="col-md-3">
                  <img
                    src="../../assets/images/pots_and_planters.webp"
                    alt="Bestsellers"
                    height="100%"
                    width="100%"
                  />
                  <h5 class="mt-2 text-center">Pots & Planters</h5>
                </div>
              </div>
        </div>
    </div>

