<nav
  class="navbar navbar-expand-lg bg-success"
  data-bs-theme="dark"
  style="height: 50px"
>
<div class="container">
    <img
      class="text-center ml-5 mt-2 mb-3 rounded"
      src="../../assets/images/Presentation3.jpg "
      width="10%"
      
      routerLink="/"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto ms-5" *ngIf="!getUserLoggedStatus()">
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="register">Register</a>
        </li>  -->
        <li class="nav-item">
          <a class="nav-link" routerLink="ourstory">ourstory</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="blog">blog</a>
        </li> 
      </ul>
      <ul class="navbar-nav me-auto ms-5" *ngIf="getUserLoggedStatus()">
        <li class="nav-item">
          <a class="nav-link" routerLink="logout">logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blog">blog</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="products">products</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="cart">cart</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="orders">orders</a>
        </li> 


      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto">

          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="About" [routerLinkActive]="['is-active']">AboutUs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="blog">blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="pots-planters">pots-planters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="logout">Logout</a>
          </li> -->
        </ul>
      </form>
    </div>
  </div>

</nav>
