.nav-item .nav-link{
    font-size: 16px;
    text-transform:uppercase;
    color: white;
}


.nav-tabs .nav-link.active,
.nav-item.tab.active {
  color: #495057;
  background-color: #fff;
  border-color: #adb5bd #adb5bd #adb5bd !important;
  border-bottom: 0px #ffffff;
}

.nav-tabs .nav-item.show .nav-link,
.nav-item.tab {
  color: #495057;
  background: #9c9c9c 0% 0% no-repeat padding-box;
  border-color: #adb5bd #adb5bd #adb5bd !important;
  border-bottom: 0px #ffffff;
  border-radius: 2px 2px 0px 0px;
}
.Container{
  height:10px;
}

.side_bar_menu_font_style .active,
.sidebar .nav-link:hover {
  color: #f5be17 !important;
}

.is-active{
    color: #ff6a00 !important;
}