<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<h1 align="center">Your Orders</h1>

<div class="container">
<table class="table table-hover table-striped table-bordered">

    <thead>
        <tr align="center">
            <th class="bg-info text-white">productName</th>
            <!-- <th class="bg-info text-white">productId</th> -->
            <th class="bg-info text-white">price</th>
            <th class="bg-info text-white">quantity</th>
            
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let prod of product" align="center">
            <td>{{prod.productName   }}</td>
           <!-- <td>{{prod.productId }}</td> -->
            <td>₹{{prod.quantity*prod.price}}</td>
            <td>{{prod.quantity   }}</td>

        </tr>
    </tbody>

</table>
</div>