 <!-- <head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

      <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  

      <style>
        #color{
            color:red;
        }
        .container {
          margin-top: 50px;
      }
        #im{
    background-image: url('https://images.pexels.com/photos/776656/pexels-photo-776656.jpeg'); /* Replace with the actual path to your image */
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    background-position:center ;
    height:650px;
  }
  #sign{
    font-size:larger;
  }
  
      </style>
</head>
<div id="im" >
<div class="container" align="center" >
<form #loginForm="ngForm" (ngSubmit)="validateLogin(loginForm.value)" novalidate>

  <h1>Login</h1>

      <div style="width: 250px;">
          <div *ngIf="emailId.errors?.['required'] && emailId.touched"> <p id="color"> Enter EmailId </p></div>
          <div *ngIf="emailId.errors?.['minlength'] && emailId.touched"> <p id="color"> Enter Atleast 8 Characters for EmailId</p></div> 
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input class="form-control" type="text" name="emailId" ngModel #emailId="ngModel" placeholder="Enter Email-ID" required minlength="8" maxlength="30" />
          </div> <br />
          <div *ngIf="password.errors?.['required'] && password.touched"> <p id="color"> Enter Password </p></div> 
          <div *ngIf="password.errors?.['minlength'] && password.touched"> <p id="color"> Enter Atleast 6 Characters for Password </p></div> 
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input class="form-control" type="password" name="password" ngModel #password="ngModel"  placeholder="Enter Password" required minlength="5" maxlength="10" />
          </div> <br />

          <div class="col-md-12 mb-3">
            <p class="text-center">
               <a href="javascript:void();" class="google btn mybtn"><i class="fa fa-google-plus">SignIn using Google
               </i>
               </a>
            </p>
         </div><br/>

         <p> <button class="btn btn-success" onclick="">Login</button> &nbsp;&nbsp;  New User? &nbsp;&nbsp;  <a href="register" id="sign"><u>signup</u></a></p>
      </div> <br/><br/>
</form>
</div>
</div>  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <style>
        #color {
            color: red;
        }

        .container {
            margin-top: -30px;
        }

        #im {
            background-image: url('https://images.pexels.com/photos/9741482/pexels-photo-9741482.jpeg'); /* Replace with the actual path to your image */
            background-size: cover; /* Adjust as needed */
            background-repeat: no-repeat; /* Adjust as needed */
            background-position: center;
            height: 650px;
            grid-row: 300px;
        }

        #sign {
            font-size: larger;
        }

        .form-container {
            max-width: 400px;
            margin: 0 auto;
            margin-top: 30px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #fff; /* Add your desired background color here */
        }
    </style>
</head>
<body id="im">
<div class="container" align="center">
    <div class="form-container">
        <form #loginForm="ngForm" (ngSubmit)="validateLogin(loginForm.value)" novalidate>

            <h1>Login</h1>

            <div style="width: 250px;">
                <div *ngIf="emailId.errors?.['required'] && emailId.touched">
                    <p id="color">Enter EmailId</p>
                </div>
                <div *ngIf="emailId.errors?.['minlength'] && emailId.touched">
                    <p id="color">Enter At least 8 Characters for EmailId</p>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input class="form-control" type="text" name="emailId" ngModel #emailId="ngModel"
                           placeholder="Enter Email-ID" required minlength="8" maxlength="30"/>
                </div>
                <br/>
                <div *ngIf="password.errors?.['required'] && password.touched">
                    <p id="color">Enter Password</p>
                </div>
                <div *ngIf="password.errors?.['minlength'] && password.touched">
                    <p id="color">Enter At least 6 Characters for Password</p>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input class="form-control" type="password" name="password" ngModel #password="ngModel"
                           placeholder="Enter Password" required />
                </div>
                <br/>

                <div class="col-md-12 mb-3">
                    <p class="text-center">
                        <a href="javascript:void();" class="google btn mybtn"><i class="fa fa-google-plus">SignIn using Google
                        </i>
                        </a>
                    </p>
                </div>
                <br/>

                <p>
                    <button class="btn btn-success" onclick="">Login</button>
                    &nbsp;&nbsp; New Here? &nbsp;&nbsp; <a routerLink="/register"><u>signup</u></a>
                </p>
            </div>
        
            <small class="fs_16">
                <a class="ms-1 mt-3 forgot_link" routerLink="/forgotPassword">Forgot your password?</a>
            </small>


            <br/><br/>
        </form>
    </div>
</div>

<!-- Add Bootstrap JS and jQuery script links -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

